.example-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.example-icon {
  padding: 0 14px;
}
.example-spacer {
  flex: 1 1 auto;
}

.sidenav {
  width: 400px;
}

.active-link {
  background-color: #e8e8e8;
}

@media (prefers-color-scheme: dark) {
  .active-link {
    background-color: #707070;
  }
}

.example-sidenav-content {
  height: 100%;
  width: 100%;
}
