.custom-calendar {
  a {
    background-color: transparent;
    color: #000000;
  }
  .fc-daygrid-day.fc-day-today {
    background-color: #1a788459;
    border-radius: 4px;
    padding: auto;
  }
}

// .fc-theme-standard .fc-scrollgrid {
//   border: 0px solid var(--fc-border-color);
// }

// /* Evitar cambios de estilo al hacer clic en un evento */
// .fc-event {
//   background-color: initial !important;  /* No cambiar el fondo */
//   border: none !important;               /* Eliminar bordes */
//   box-shadow: none !important;           /* Eliminar sombras */
//   outline: none !important;              /* Evitar outline de selección */
// }

// /* Evitar cambios de estilo cuando el evento es clickeado */
// .fc-event:focus, .fc-event:active {
//   background-color: initial !important;  /* Mantener el fondo sin cambios */
//   border: none !important;
//   box-shadow: none !important;
//   outline: none !important;
// }

/* Estilo para el día seleccionado */
.fc-day-selected {
  background-color: #1a7884b5 !important;
  border-radius: 4px !important;
}

@media (prefers-color-scheme: dark) {
  .custom-calendar {
    a {
      background-color: transparent;
      color: #ffffff;
    }
    table.fc-col-header {
      background-color: #1a7884;
    }
  }
  .fc-theme-standard .fc-popover {
    background: black !important;
  }
}
