<div class="wrapper">
  <div style="padding: 1rem 0 0 0; text-align: center;">
    <ion-title class="text-base">Seleccione mes y año</ion-title>
  </div>
  <br>
  <div *ngIf="controlDate" mat-dialog-content>
    <ion-datetime class="custom-picker" id="datetime-full-calendar" presentation="month-year"
      [formControl]="controlDate" [max]="maxYear" [min]="minYear"></ion-datetime>
  </div>

  <div *ngIf="controlDate" mat-dialog-actions>
    <div class="flex justify-end w-full">
      <button mat-button (click)="closeModal()">Cerrar</button>
      <button mat-button color="primary" (click)="saveDate()">Guardar</button>
    </div>
  </div>

</div>
