@import "@ionic/angular/css/core.css";

@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import "@ionic/angular/css/palettes/dark.system.css";

//importaciones de componentes
@import "styles/componentes/am-button";
@import "styles/full-calendar.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Sobrescribe la fuente predeterminada de Ionic */
ion-content,
ion-header,
ion-footer,
ion-title,
ion-label {
  font-family: "Lato", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Lato", sans-serif;
}

.standard-icon {
  font-family: "Material Icons", sans-serif;
}

.rounded-icon {
  font-family: "Material Icons Round", sans-serif;
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 40;
}

.example-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

ion-tab-bar {
  --background: var(--ion-color-primary); /* Fondo transparente */
  --color: #ffffff9e; /* Color de las pestañas no seleccionadas */
  --color-selected: #ffffff; /* Color de las pestañas seleccionadas */
  --border-color: #ffffff; /* Color del indicador de selección */
  --indicator-color: #ffffff; /* Color del indicador debajo de la pestaña */
}

ion-tab-button.tab-selected {
  font-size: medium;
}

:root {
  --fc-text-color: #000000; /* Color de texto en tema claro */
  --fc-background-color: #ffffff; /* Fondo en tema claro */
}

/* Tema oscuro */
[theme="dark"] {
  --fc-text-color: #ffffff; /* Color de texto en tema oscuro */
  --fc-background-color: #333333; /* Fondo en tema oscuro */
}

.snack-bar-propio {
  position: relative !important;
  top: 60px !important;
}

::-webkit-scrollbar-track {
  background-color: #eeeeee;
  border-radius: 50px;
}

::-webkit-scrollbar {
  width: 6px;
  height: 10px;
  background-color: #eeeeee;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  background-color: #1a7783;
  border-radius: 20px;
}

.custom-tooltip {
  background-color: #333;
  color: white;
  font-size: 14px;
}

@media (prefers-color-scheme: dark) {
  .ngx-mat-colorpicker-content {
    background-color: #424242 !important;
  }
}
